
body {
  background: #444;
  color: #ccc;
}

input, input~div {
  display: inline-block;
  margin: 0 5px;
  color: black;
  font-size: 12pt !important;
}

input~div > button+div > div > div:first-child {
  display: none;
}